* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 10px 20px;
    background-color: rgba(228, 41, 41, .5);
    box-shadow: inset 0 0 4px 6px rgba(196, 193, 193, .2);
    border-radius: 5px;
    border: 2px solid lightcoral;
    cursor: pointer;
}

.overlay {
    background:url('./images/background.jpg') rgba(223, 122, 122, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

#closeJoke {
    position: absolute;
    top: 40px;
    right: 30px;
    background: #fff;
    color: black;
    font-weight: bolder;
    font-size: 2.2rem;
    padding: 2px 12px;
}

.joke-containerJ {
    z-index: 5;
    background: #fff;
    color: lightcoral;
    box-shadow: 0 0 4px 6px rgba(196, 193, 193, .2);
    border: 2px solid lightcoral;
    padding:15px 25px;
    border-radius: 10px;
    width:80%;
    max-width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}